<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

  {{> ie}}
    <div class="container">

      {{> header}}
      <div class="content-wrapper"><!--  Блок с контентом для последующего блюра при вызове меню -->
        <div class="layout">
        {{> block-heading}}
        {{> blog}}
        {{> aside}}
      </div>
      <!-- /.layout блок для разделения контента и навбара -->
    </div>
    <!-- content-wrapper -->
  </div>
  <!-- /.container -->
  {{> footer}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/script.js"></script>

</body>

</html>