<aside class="aside">
    <div class="aside-content">
        <div class="aside-content__title">
            <h4>About BLitz</h4>
        </div>
        <div class="line"></div>
        <!-- /.line -->
        <div class="aside-content__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus
                ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. </p>
        </div>
        <!-- /.aside-content__text -->
    </div>
    <!-- /.aside-content -->
    <div class="aside-content">
        <div class="aside-content__title">
            <h4>Categories</h4>
        </div>
        <div class="line"></div>
        <!-- /.line -->
        <div class="aside-content__text">
            <ul>
                <li>Video (3)</li>
                <li>Sports (5)</li>
                <li>Media (2)</li>
                <li>Entertainment (7)</li>
                <li>Life (4)</li>
                <li>Super Cool Stuff (8)</li>
            </ul>
        </div>
        <!-- /.aside-content__text -->
    </div>
    <!-- /.aside-content -->
    <div class="aside-content">
        <div class="aside-content__title">
            <h4>Twitter Widget</h4>
        </div>
        <div class="line"></div>
        <!-- /.line -->
        <div class="aside-content-tweets">
            <div class="aside-content-tweets__item">@<span>pixelmater </span> What an awesome design with great functionality :)</div>
            <span>about 1 hour ago</span>
            <div class="aside-content-tweets__item">@<span>designdude </span> What an awesome design with great functionality :)</div>
            <span>about 2 hour ago</span>
            <div class="aside-content-tweets__follow">Follow @ <span> bestpsdfreebies</span></div>
        </div>
        <!-- /.aside-content__text -->
    </div>
    <!-- /.aside-content -->
</aside>