<section class="blog section">
    <div class="blog-item">
        <h3 class="blog-item__title">top 10 web design blogs</h3>
        <!-- /.blog-item__title -->
        <img src="img/blog/1.jpg" alt="Blog image" class="blog-item__img">
        <div class="blog-item-text">
            <div class="blog-item-text-leftside">
                <h5 class="blog-item-text-leftside__title">Date</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">April 15, 2012</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Tags</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">Website | Design</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Comments</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">4</span>
                <!-- /.blog-item-text-leftside__span -->
            </div>
            <!-- /.blog-item-text-leftside -->
            <div class="blog-item-text-rightside">
                <p class="blog-item-text-rightside__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur
                    concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim
                    imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no
                    latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. <br> <br>

                    Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper
                    dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel
                    nunc. Cras varius fermentum iaculis ...
                </p>
                <!-- /.blog-item-text-rightside__text -->
            </div>
            <!-- /.blog-item-text-rightside -->
        </div>
        <!-- /.blog-item-text -->
        <div class="line"></div>
    </div>
    <!-- /.blog-item -->


    <div class="blog-item">
        <h3 class="blog-item__title">Amazing free PORtfolio psd theme</h3>
        <!-- /.blog-item__title -->
        <img src="img/blog/2.jpg" alt="Blog image" class="blog-item__img">
        <div class="blog-item-text">
            <div class="blog-item-text-leftside">
                <h5 class="blog-item-text-leftside__title">Date</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">April 15, 2012</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Tags</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">Website | Design</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Comments</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">4</span>
                <!-- /.blog-item-text-leftside__span -->
            </div>
            <!-- /.blog-item-text-leftside -->
            <div class="blog-item-text-rightside">
                <p class="blog-item-text-rightside__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur
                    concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim
                    imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no
                    latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. <br> <br>

                    Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper
                    dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel
                    nunc. Cras varius fermentum iaculis ...
                </p>
                <!-- /.blog-item-text-rightside__text -->
            </div>
            <!-- /.blog-item-text-rightside -->
        </div>
        <!-- /.blog-item-text -->
        <div class="line"></div>
    </div>
    <!-- /.blog-item -->


    <div class="blog-item">
        <h3 class="blog-item__title">Best wallpapers of 2012</h3>
        <!-- /.blog-item__title -->
        <img src="img/blog/3.jpg" alt="Blog image" class="blog-item__img">
        <div class="blog-item-text">
            <div class="blog-item-text-leftside">
                <h5 class="blog-item-text-leftside__title">Date</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">April 15, 2012</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Tags</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">Website | Design</span>
                <!-- /.blog-item-text-leftside__span -->
                <h5 class="blog-item-text-leftside__title">Comments</h5>
                <!-- /.blog-item-text-leftside__title -->
                <span class="blog-item-text-leftside__span">4</span>
                <!-- /.blog-item-text-leftside__span -->
            </div>
            <!-- /.blog-item-text-leftside -->
            <div class="blog-item-text-rightside">
                <p class="blog-item-text-rightside__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur
                    concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim
                    imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no
                    latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. <br> <br>

                    Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper
                    dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel
                    nunc. Cras varius fermentum iaculis ...
                </p>
                <!-- /.blog-item-text-rightside__text -->
            </div>
            <!-- /.blog-item-text-rightside -->
        </div>
        <!-- /.blog-item-text -->
    </div>
    <!-- /.blog-item -->


</section>