<header class="header">
    <!-- Лого -->
    <div class="header__logo">
        <a href="http://g1xus.ru/blitz/"><img src="img/logo.png" alt="Blitz" title="Blitz"></a>
    </div>
    <!-- Навигция -->
    <nav class="nav">
        <div class="nav__item">
            <span class="nav__item_top">
                Homepage
            </span>
            <a href="index.html" class="nav__item_bottom">HOME</a>
        </div>

        <div class="nav__item">
            <span class="nav__item_top">
                Who  are  we?
            </span>
            <a href="about.html" class="nav__item_bottom">ABOUT</a>
        </div>

        <div class="nav__item">
            <span class="nav__item_top">
                MY  Portfolio
            </span>
            <a href="projects.html" class="nav__item_bottom">PROJECTS</a>
        </div>

        <div class="nav__item">
            <span class="nav__item_top">
                Latest  News
            </span>
            <a href="blog.html" class="nav__item_bottom">BLOG</a>
        </div>

        <div class="nav__item">
            <span class="nav__item_top">
                Get  in  touch
            </span>
            <a href="contact.html" class="nav__item_bottom">CONTACT</a>
        </div>
        
    </nav>
    <!-- Кнопка -->
    <div class="cmn-toggle-switch cmn-toggle-switch__htx">
        <span></span>
    </div>
</header>