<section class="our-specs">
    <div class="our-specs-wrap">
        <div class="our-specs-item">
            <h3 class="our-specs-item__title">OUR PHILOSOPHY</h3>
            <!-- /.our-specs-item__title -->
            <div class="our-specs-item__subtitle">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
            <!-- /.our-specs-item__subtitle -->
            <p class="our-specs-item__paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim
                at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            <!-- /.our-specs-item__paragraph -->
        </div>
        <!-- /.our-specs-item -->
        <div class="our-specs-item">
            <h3 class="our-specs-item__title">OUR MISSION</h3>
            <!-- /.our-specs-item__title -->
            <div class="our-specs-item__subtitle">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
            <!-- /.our-specs-item__subtitle -->
            <p class="our-specs-item__paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim
                at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            <!-- /.our-specs-item__paragraph -->
        </div>
        <!-- /.our-specs-item -->
        <div class="our-specs-item">
            <h3 class="our-specs-item__title">OUR HISTORY</h3>
            <!-- /.our-specs-item__title -->
            <div class="our-specs-item__subtitle">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
            <!-- /.our-specs-item__subtitle -->
            <p class="our-specs-item__paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim
                at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            <!-- /.our-specs-item__paragraph -->
        </div>
        <!-- /.our-specs-item -->
        
    </div>
    <div class="line"></div>
        <!-- ./line -->
    </section>