<section class="wallpaper">
    <div class="wallpaper-img">
        <img src="img/wallpaper/1.jpg" alt="wallpaper">
        <div class="corner-content">
            <span class="corner-content__top">This Months</span>
            <span class="corner-content__bottom">FEATURED WORK</span>
        </div>
    </div>
    <div class="wallpaper-text">
        <h1 class="wallpaper-text__title">JESUS TYPOGRAPHY WALLPAPER</h1>
        <p class="wallpaper-text__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non diam et
            lacus pulvinar venenatis et vestibulum velit. Pellentesque interdum faucibus dui hendrerit ultrices. Aliquam
            erat volutpat. Duis commodo turpis id diam pulvinar hendrerit.</p>
    </div>
</section>