<section class="workers">
    <div class="workers-wrap">


        <div class="workers-item">
            <div class="workers-item__img"><img src="img/1.jpg" alt=""></div>
            <!-- /.workers-item__img -->
            <div class="workers-item__info">
                <h3 class="workers-item__name">JANE DOE</h3>
                <!-- /.workers-item__name -->
                <div class="workers-item__post">CEO</div>
                <!-- /.workers-item__post -->
            </div>
            <!-- /.workers-item__info -->
            <div class="workers-item__salary">1.306.432.0065</div>
            <!-- /.workers-item__salary -->
            <p class="workers-item__description">Seded ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laud antium, totam rem aperiam.</p>
            <!-- /.workers-item__description -->
        </div>
        <!-- /.workers-item -->


        <div class="workers-item">
            <div class="workers-item__img"><img src="img/1.jpg" alt=""></div>
            <!-- /.workers-item__img -->
            <div class="workers-item__info">
                <h3 class="workers-item__name">JANE DOE</h3>
                <!-- /.workers-item__name -->
                <div class="workers-item__post">Executive Administrator</div>
                <!-- /.workers-item__post -->
            </div>
            <!-- /.workers-item__info -->
            <div class="workers-item__salary">1.306.432.0065</div>
            <!-- /.workers-item__salary -->
            <p class="workers-item__description">Seded ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laud antium, totam rem aperiam.</p>
            <!-- /.workers-item__description -->
        </div>
        <!-- /.workers-item -->


        <div class="workers-item">
            <div class="workers-item__img"><img src="img/1.jpg" alt=""></div>
            <!-- /.workers-item__img -->
            <div class="workers-item__info">
                <h3 class="workers-item__name">JANE DOE</h3>
                <!-- /.workers-item__name -->
                <div class="workers-item__post">Realitor</div>
                <!-- /.workers-item__post -->
            </div>
            <!-- /.workers-item__info -->
            <div class="workers-item__salary">1.306.432.0065</div>
            <!-- /.workers-item__salary -->
            <p class="workers-item__description">Seded ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laud antium, totam rem aperiam.</p>
            <!-- /.workers-item__description -->
        </div>
        <!-- /.workers-item -->


    </div>
    <!-- /.workers-wrap -->
</section>