<!-- Секция с работами -->
<section class="work">
    <div class="work-title">
        <h2 class="work-title__text">My latest work</h2>
    </div>
    <div class="work-wrap">

        <div class="work-card">
            <img src="img/works/1.jpg" alt="My work">
            <div class="work-card__title">
                Vallarta  Brochure
            </div>
            <!-- /.work-card__title -->
            <p class="work-card__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui
                sed magna posue re ut elementum enim rutrum.
            </p>
            <div class="more-info">
                <a href="#">
                    <img src="img/arrow.svg" alt="arrow right" class="more-info__img" width="17px">
                    <span class="more-info__text">view project</span>
                    <!-- /.more-info__text --></a>
            </div>
            <!-- /.more-info -->
        </div>
        <!-- /.work-card -->


        <div class="work-card">
            <img src="img/works/2.jpg" alt="My work">
            <div class="work-card__title">
                Photoshop  tutorial
            </div>
            <!-- /.work-card__title -->
            <p class="work-card__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui
                sed magna posue re ut elementum enim rutrum.
            </p>
            <div class="more-info">
                <a href="#">
                    <img src="img/arrow.svg" alt="arrow right" class="more-info__img" width="17px">
                    <span class="more-info__text">view project</span>
                    <!-- /.more-info__text --></a>
            </div>
            <!-- /.more-info -->
        </div>
        <!-- /.work-card -->


        <div class="work-card">
            <img src="img/works/3.jpg" alt="My work">
            <div class="work-card__title">
                Business  cards
            </div>
            <!-- /.work-card__title -->
            <p class="work-card__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui
                sed magna posue re ut elementum enim rutrum.
            </p>
            <div class="more-info">
                <a href="#">
                    <img src="img/arrow.svg" alt="arrow right" class="more-info__img" width="17px">
                    <span class="more-info__text">view project</span>
                    <!-- /.more-info__text --></a>
            </div>
            <!-- /.more-info -->
        </div>
        <!-- /.work-card -->


        <div class="work-card">
            <img src="img/works/4.jpg" alt="My work">
            <div class="work-card__title">
                Website  design
            </div>
            <!-- /.work-card__title -->
            <p class="work-card__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui
                sed magna posue re ut elementum enim rutrum.
            </p>
            <div class="more-info">
                <a href="#">
                    <img src="img/arrow.svg" alt="arrow right" class="more-info__img" width="17px">
                    <span class="more-info__text">view project</span>
                    <!-- /.more-info__text --></a>
            </div>
            <!-- /.more-info -->
        </div>
        <!-- /.work-card -->


    </div>
    <!-- /.work-cards -->
</section>